[Unit]
 Description=DNSEXIT Dynamic Dns Service
 After=network-online.target

[Service]
 Type=simple
 PIDFile=/var/run/ipUpdate.pid
 ExecStart=/home/pi/dnsexit/ipUpdate.py
 Restart=on-abnormal
 RestartSec=30

[Install]
 WantedBy=default.target
